.logo img
{
    width: 100px;
    height: 40px;
    float: left;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


#notificationCenterBox
{
    background:url('../img/box_bg.jpg') repeat-x center top #fcfcfc;
	height:550px;
	padding:20px;
	margin-top:-10px;
	padding-top:15px;
	width:400px;
	border:1px solid #5CAAFF;
	color:#494848;
	text-shadow:1px 1px 0 white;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	z-index: 1050;
}

#notificationCenterBox li.content
{
    padding-left: 20px;
}

li.nav-header small
{
    font-size: 0.9em;
    text-transform: none;
}


.divider
{
    height: 1px;
margin: 8px 1px;
overflow: hidden;
background-color: #E5E5E5;
border-bottom: 1px solid white;
}


a span.white-icons:hover 
{
    background:url(../img/sprite-icons/icon-dark-blue.png) no-repeat;
}

.summary li.important
{
    border: 1px solid #FFC2C2;
    background-color: white;
    padding: 5px;
}

.logo img:hover {
    width: 105px;
    height: 40px;
}

.appointment
{
    background:#F9F9F9 url(../img/Calendar.png) no-repeat right bottom;
    padding-bottom: 10px;
    margin-bottom: 50px;
    padding: 30px;
    margin-top: 100px;
}

.profile
{
    padding: 0px 100px 0px 50px;
}

.left-separator
{
    background: url(../img/separator.png) no-repeat 0 bottom;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

a .dashboard-text
{    
    text-decoration: none;
}

table ul
{
    list-style: none;
    margin-left: 0px;
}

table ul li 
{
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 10px;
    height: 30px;
}

table .progress 
{
    height: 12px;
}

table .progress .bar
{
    height: 12px;
}

.help-block
{
    color: red;
}

/**
* Registration type
*/

.register-type .row 
{
    
}

.register-type .span4
{
    text-align: center; margin-left: 10px;
}

.register-type .widget-head.green
{
    background-color: #189C1D
}

.register-type .widget-head.red
{
    background-color: #DA8080
}

.register-type .widget-head.dark-red
{
    background-color: #9C1818
}

.register-type .widget-content
{
    text-align: left;
    font-size: 1.1em;    
}

.register-type .register-desc
{
    height: 150px;
}

.register-type ul
{
margin-left: 2em;
padding: 0;
margin: 0 0 10.5px 25px;
}

.register-type ul.icons
{
list-style-type: none;
text-indent: -0.8em;
}

.register-type ul li
{
    padding-bottom: 5px;
    height: 30px;
}

.clock-bg
{
    background: url(../img/clock_small.png) no-repeat left bottom;
}

.paper-bg
{
    background: url(../img/papers_small.png) no-repeat left bottom;
}


/* Validation error */
.field-validation-error
{
    color: Red;
}

.form-required
{
    background: url(../img/aserisk.gif) no-repeat top right;
    padding-right: 8px;
    -moz-background-size:5px 5px; /* Firefox 3.6 */
    background-size:5px 5px;
}

.control-label 
{
    font-weight: bold;
}

/* Documents */

/* Step 1 */
.complete-documents
{
    
}

.complete-documents h3
{
    border-bottom: 1px solid #D5D5D5;
}


.complete-documents .document
{
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: solid 1px #E4E4E4;
}

.complete-documents .document-label h4
{
    border-bottom: 1px solid #8B8B8B;
    margin-top: 10px;
    padding-bottom: 5px;
}

.complete-documents .document .document-label
{
    line-height: 30px;
    min-height: 60px;

}

.complete-documents p
{
    padding-left: 35px;
    font-size: 0.8em;
}

.complete-documents .btn
{
    margin-top: 10px;
}

/* Step 2 */
.document-approval
{
    text-align:center;
}

.document-approval > div
{
    line-height: 20px;
}

.custom-well
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #FFFCEC;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    font-size: 1.2em;
}

.custom-well .badge
{
    font-size: inherit;
}

.custom-well ul
{
    list-style: none;
}

.custom-well ul li
{
    padding-top: 5px;
}


/* Confirm Dialog */


.question {
	position: absolute;
	display: inline;
	text-align: center;
	width: 174px;
	height: 78px;
	font-size: 13px;
	line-height: 1.5em;
	background: url('../img/confirm/bubble.png') left top no-repeat;
	padding: 10px 0 0 0;
	text-shadow: 0px 1px 0px #fff;
	margin-left: -7em;
	margin-top: -6em;
	opacity: 0;
}

.yes, .cancel {
	margin-top: .5em;
	margin-right: .5em;
	cursor: pointer;
	display: inline-block;
	width: 55px;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
}
