@{
    ViewBag.Title = "Applications downloadfile ";
}

<h2>downloadfile</h2>
@using (Html.BeginForm("DownloadCaseDocTemp", "Document",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input id="DownloadFile" type="file" name="DownloadFile" />
    <br />
    <input type='submit' id='download-files' value=' Download File ' />
}
