@{
    ViewBag.Title = "Index";
}
<div class="row=fluid">
<div class="span12">
<div id="accordion-widget" class="accordion boot-accordion">
 <div class="accordion-group">
<div class="accordion-heading">
<a href="#One" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
Where do I start? </a>
</div>
<div class="accordion-body collapse in" id="One">
<div class="accordion-inner">

<ul>
<li>Do you want to  start a new application? Click <a href="#Two" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">here</a></li> 
    <li>Do you need any advice from one of our staff? Click <a href="#Three" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">here</a></li> 
</ul>

</div>
</div>
 </div>
<div class="accordion-group">
<div class="accordion-heading">
<a href="#Two" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
 How do I start a new application for (xxx) university? </a>
 </div>
<div class="accordion-body collapse" id="Two">
<div class="accordion-inner">
<ul>
<li>If you are applying first time , please follow the steps below: </li>
    <ul>
<li>Under the application summary click the start a new application link.
 <br />   <img src="../../Content/help_img/StartNewApp.png" />
</li>        
<li>Under the "course list" choose the university name  and click the start application button. You will get a pop up window then select "confirm" button.</li> 
        <img src="../../Content/help_img/StartApp.png" /><img src="../../Content/help_img/Confirm.png" />
<li>Under the "application summary" tab click the upload button.</li> 
        <img src="../../Content/help_img/DocUpload.png" />
<li>Under the "my applications" tab upload your documents.</li>
<img src="../../Content/help_img/MyApp_Documents.png" />
</ul>
</ul>

<ul>
<li>If you have already applied for a university , please proceed in the steps below: </li>
    <ul>
<li>Under the "application summary" tab click the upload button.</li> 
<li>Under the "my applications" tab upload your documents.</li>
</ul>
 </ul>
 </div>
 </div>
 </div>
 <div class="accordion-group">
 <div class="accordion-heading">
 <a href="#Three" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
 How do I get in contact with one of your staff? </a>
 </div>
 <div class="accordion-body collapse" id="Three">
 <div class="accordion-inner">
 <ul>
 <li>You can reach one of our staff by: </li>
    <ul>
        <li>calling the nearest branch office.</li>
        <li>Sending your enquiry question.</li>
        <li>If you see 'No staff is assigned to you'  this means that 'There is no staff assigned to you. What should I do?'</li>
    </ul>
 </ul>
 </div>
 </div>
 </div>
 <div class="accordion-group">
 <div class="accordion-heading">
<a href="#Four" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
How do I upload a document? </a>
</div>
<div class="accordion-body collapse" id="Four">
<div class="accordion-inner">
<ul>
<li>To upload your document, please follow the steps below:</li>
<ul>
<li>Select the left hand side "documents" menu.</li>
 <img src="../../Content/help_img/Documents.png" />
<li>Under the documents menu choose the "forms" column and download the form. </li>
<img src="../../Content/help_img/Forms.png" />
<li>Fill it and upload it under the "documents" column.</li> 
    <img src="../../Content/help_img/Documents_Upload.png" />
</ul>
</ul>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a href="#Five" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
    It says 'There is no staff assigned to you. What should I do? </a>
</div>
<div class="accordion-body collapse" id="Five">
<div class="accordion-inner">
    <ul>
        <li>If you have recently registered please wait for 48hrs time.</li> 
     
    </ul>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a href="#Six" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
How do I make an appointment? </a>
</div>
<div class="accordion-body collapse" id="Six">
<div class="accordion-inner">
<ul>
<li>Select the left hand side "appointment" menu.</li>
<img src="../../Content/help_img/Appointment.png" /> 
 <li>During registration you can make an "appointment".</li> 
<li>At the appointment, you will get your login credentials from the counceller </li> 
                      
</ul>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a href="#Seven" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
I forgot to go to my appointment! What next? </a>
</div>
<div class="accordion-body collapse" id="Seven">
<div class="accordion-inner">
<ul>
<li>You need to contact the counselor to book for the next appointment.</li>
<img src="../../Content/help_img/BookApp.png" />
</ul>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a href="#Eight" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
There is no progress in my application. what am I supposed to do? </a>
</div>
<div class="accordion-body collapse" id="Eight">
<div class="accordion-inner">
<ul>
<li>Please contact the counsellor.</li> 
</ul>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a href="#Nine" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
When can I get my Offer Letter and/or Confirmation of Enrolment? </a>
</div>
<div class="accordion-body collapse" id="Nine">
<div class="accordion-inner">
<ul>
<li>After your application has been successful, you will get an offer letter.</li> 
                       
</ul>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a href="#Ten" data-parent="#accordion-widget" data-toggle="collapse" class="accordion-toggle">
How can I get the contact details? </a>
</div>
<div class="accordion-body collapse" id="Ten">
<div class="accordion-inner">
Please visit this link: <a href="http://www.stormedu.com.au/main/contact.php"> Click here</a>
</div>
</div>
</div>
</div>
</div>
</div>
