<div class="content-banner">
    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h1>
                Studying abroad?<small>It is easier than you think</small></h1>
            <p>
                Years of experience and highly trained consultants at your service. Register or
                enquire with us now!</p>
            <p>
                <a class="btn btn-success btn-large">Tell me more! &raquo;</a></p>
        </div>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span8 well well-large">
            <div class="page-header">
                <h1>
                    Storm profile
                </h1>
            </div>
            <p>
                STORM - a synonym for every qualified student aspiring to realize his / her career
                aspirations through quality education across the globe. Storm is a reputed and dynamic
                organization founded in 2003 with its Global Headquarters, located in Melbourne,
                Australia. Since inception, Storm achieved many accolades and admirations to the
                credit for extending tailor made; student specific counselling services which involve
                a scientific process to ensure Storm for right guidance for a bright career globally.</p>
            <h3>
                Our Vision & Mission</h3>
            <p>
                <blockquote>
                    "Bringing <b>the best</b> to every student that Storm directs"</blockquote>
                By "The best", we mean the best guidance through resourceful and qualitative services
                in a transparent and ethical manner. STORM'S vision is to be the result oriented
                leader in overseas education consultancy by directing young minds. We earn our reputation
                through performance driven culture and ensure continuous improvement by creating
                an atmosphere of optimism, team work and resourcefulness.</p>
            <h3>
                What we are offering</h3>
            <p>
                We assist students who are interested in pursuing their education in Australia,
                New Zealand, UK, USA, Canada, Germany, Singapore and Ireland. With a team of 350+
                dynamic professionals with rich experience in the field of overseas education, diversified
                industry & academic backgrounds from top most institutes; one can trust that every
                student at STORM would experience the right advice.</p>
            <h3>
                Highest quality of service</h3>
            <p>
                Our staff is well trained and well experienced with international student issues.
                Most of them are expatriates and visited most of the institutions Storm represent.
                With regular workshops, self-development and evaluation sessions on new training
                methods and technologies, policy changes, each of our staff members maintains their
                level of expertise in various subjects and brings value added services for students.
                Our staff's key motto is to understand the student's needs, career aspirations and
                to be benevolent.</p>
        </div>
        <div class="span4">
            <div class="accordion" id="myAccordion">
                <div class="accordion-group">
                    <div class="accordion-heading orange">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myAccordion" href="#collapseOne">
                            <i class="icon-th icon-white"></i>University Visit </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading green">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myAccordion" href="#collapseTwo">
                            <i class="icon-th icon-white"></i>Careers </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading blue">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myAccordion" href="#collapseThree">
                            <i class="icon-th icon-white"></i>Upcoming Events </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading orange">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myAccordion" href="#collapseFour">
                            <i class="icon-th icon-white"></i>Success Stories </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!-- /container -->
