<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="@Url.Content("~/Content/site_img/banner2.jpg")" /></div>
                
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span8 well well-large">
            <div class="page-header">
                <h1>
                    <small>Welcome to </small>Storm</h1>
            </div>
            <p>
                <strong>Storm</strong> - a synonym for every desirous student aspiring to realize
                his / her career aspirations through quality education across the globe is a young
                and dynamic organization founded in 2002 with its Global Head quarter at Australia.</p>
            <p>
                <a class="btn btn-primary pull-right" href="#">More info &raquo;</a></p>
        </div>
        <div class="span4">
            <div class="accordion" id="myAccordion">
                <div class="accordion-group">
                    <div class="accordion-heading orange">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myAccordion" href="#collapseOne">
                            <i class="icon-th icon-white"></i>University Visit </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading green">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myAccordion" href="#collapseTwo">
                            <i class="icon-th icon-white"></i>Careers </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading blue">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myAccordion" href="#collapseThree">
                            <i class="icon-th icon-white"></i>Upcoming Events </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading orange">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myAccordion" href="#collapseFour">
                            <i class="icon-th icon-white"></i>Success Stories </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
