<div class="container">
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span12 well well-large">
            <div class="page-header">
                <h1>
                    <span class="dashboard-icons mouse_wires_blk"></span>Our Services <small> Cater to both Universities and Students </small>
                </h1>
            </div>
                <p>
                    We offer end to end services to students registering with us. STORM guides student’s right from the admission process till the student lands at the chosen destination. We have been instrumental in helping many students realize their dream of studying abroad.</p>
                    <hr />
                    
            <div class="row-fluid">
                <div class="span8">
                <div class="service-left">
                    <h4>
                        For Students</h4>
                    <p>
                        <ul>
                            <li><i class="icon-ok"></i>Career oriented counseling</li>
                            <li><i class="icon-ok"></i>Course selection</li>
                            <li><i class="icon-ok"></i>University selection</li>
                            <li><i class="icon-ok"></i>Application processing</li>
                            <li><i class="icon-ok"></i>Visa Guidance</li>
                            <li><i class="icon-ok"></i>On shore assistance</li>
                            <li><i class="icon-ok"></i>Information session on education opportunities abroad</li>
                        </ul>
                        <div class="pull-center">
                            <a class="btn btn-success" href="@Url.Action("Page", "Site", new { id="ContactUs" })">Contact Us &raquo;</a>
                        </div>
                    </p>
                </div>
                </div>
                <div class="span4">
                    <img src="../../Content/site_img/univ.jpg" class="thumbnail pull-right"/>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
                            
                <div class="span5">
                    <img src="../../Content/site_img/univ.jpg" class="thumbnail pull-left"/>
                </div>
                <div class="span7">
                <div class="service-right">
                    <h4>
                        For University</h4>
                    <p>
                        <ul>
                            <li><i class="icon-ok"></i>Career oriented counseling</li>
                            <li><i class="icon-ok"></i>Course selection</li>
                            <li><i class="icon-ok"></i>University selection</li>
                            <li><i class="icon-ok"></i>Application processing</li>
                            <li><i class="icon-ok"></i>Visa Guidance</li>
                            <li><i class="icon-ok"></i>On shore assistance</li>
                            <li><i class="icon-ok"></i>Information session on education opportunities abroad</li>
                        </ul>
                        <div class="pull-center">
                            <a class="btn btn-success" href="@Url.Action("Register","Client")">Register now &raquo;</a>
                        </div>
                    </p>
                </div>
                </div>
            </div>            
        </div>
    </div>
    <hr>
</div>
<!-- /container -->
