@{
    ViewBag.Title = "Home Page";
}

<div class="box">
      		<h4 class="white">Tables (Long Version)</h4>
        <div class="box-container">     		
       
            @if (StormWeb.Helper.CookieHelper.isStaff())
            {
                <p> I am a staff with ID:  @StormWeb.Helper.CookieHelper.StaffId </p>
            }
            else if (StormWeb.Helper.CookieHelper.isStudent())
            {
                <p> I am a student with ID: @StormWeb.Helper.CookieHelper.StudentId </p>
            }
      		<table class="table-long">
      			<thead>
      				<tr>
      					<td>Col1</td>
      					<td>Col2</td>
      					<td>Col3</td>
      					<td>Col4</td>
      				</tr>
      			</thead>
      			<tfoot>
      				<tr>
      					<td class="col-chk"><input type="checkbox" /></td>
      					<td colspan="4"><div class="align-right"><select class="form-select"><option value="option1">Bulk Options</option>
      					<option value="option2">Delete All</option></select>
      					<a href="#" class="button"><span>perform action</span></a></div></td>
      				</tr>
      			</tfoot>
      			<tbody>
      				<tr class="odd">
      					<td class="col-chk"><input type="checkbox" /></td>
      					<td class="col-first">John Doe</td>
      					<td class="col-second"><a href="#">johndoe@mail.com</a></td>
      					<td class="row-nav"><a href="#" class="table-edit-link">Edit</a> <span class="hidden"> | </span> <a href="#" class="table-delete-link">Delete</a></td>
      				</tr>
      				<tr>
      					<td class="col-chk"><input type="checkbox" /></td>
      					<td class="col-first">Jane Doe</td>
      					<td class="col-second"><a href="#">johndoe@mail.com</a></td>
      					<td class="row-nav"><a href="#" class="table-edit-link">Edit</a> <span class="hidden"> | </span> <a href="#" class="table-delete-link">Delete</a></td>
      				</tr>
      				<tr class="odd">
      					<td class="col-chk"><input type="checkbox" /></td>
      					<td class="col-first">George Livingston</td>
      					<td class="col-second"><a href="#">johndoe@mail.com</a></td>
      					<td class="row-nav"><a href="#" class="table-edit-link">Edit</a> <span class="hidden"> | </span> <a href="#" class="table-delete-link">Delete</a></td>
      				</tr>
      				<tr>
      					<td class="col-chk"><input type="checkbox" /></td>
      					<td class="col-first">Lorem Ipsum Sit Amet</td>
      					<td class="col-second"><a href="#">johndoe@mail.com</a></td>
      					<td class="row-nav"><a href="#" class="table-edit-link">Edit</a> <span class="hidden"> | </span> <a href="#" class="table-delete-link">Delete</a></td>
      				</tr>
      				<tr class="odd">
      					<td class="col-chk"><input type="checkbox" /></td>
      					<td class="col-first">John Doe</td>
      					<td class="col-second"><a href="#">johndoe@mail.com</a></td>
      					<td class="row-nav"><a href="#" class="table-edit-link">Edit</a> <span class="hidden"> | </span> <a href="#" class="table-delete-link">Delete</a></td>
      				</tr>
      			</tbody>
      		</table>  	
      	</div><!-- end of div.box-container -->
      	</div> <!-- end of div.box -->
      
    